.DS_Store
.generalEnv
app/.env
.vscode
pruebas.py
flask_session/
refactoring.sh
*.zip
*.pyc
*.pyo
.env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover